@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');



:root{
    --primary-color: #e74c3c;
    --secondary-color:#2c3e50;
    --accent-color:#3498db;
    --light-bg:#f8f9fa;
    --dark-text:#333;
    --light-text:#666;
    --border-radius:8px;
    --shadow: 0 4px 15px rgba(0,0,0,0.1);
    --transition: all 0.3s ease;
}

.onest-font {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}